.para {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  border: 1px dashed gray;
  margin-bottom: 5px;
}

.sync { display: inline-block;
        margin-top: 1ex;
     }

.chord { font-weight: bold;
         font-size: smaller;
         margin-right: 0.5em;
       }
